*{
	
	font-family: PingFangTC-Ultralight, sans-serif;
	font-family: PingFangTC-Light, sans-serif;
	font-family: PingFangTC-Thin, sans-serif;
	font-family: PingFangTC-Medium, sans-serif;
	font-family: PingFangTC-Semibold, sans-serif;
	font-family: PingFangTC-Regular, sans-serif;
	/*outline: 1px red solid;*/
	text-decoration: none;
	letter-spacing: 1.5px;
	line-height: 22px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background: linear-gradient(to right, #4b067c, #1d1d1d);
	text-align: center;
}

#vedeo{
	position:absolute;
	width: 100%;
	height:150%;
	background: url(../image/bg.png) no-repeat top center;
	opacity: 0.49;
	mix-blend-mode: luminosity;
	background-size: cover;
	z-index: -1;
}

/*header*/
header{
	width: 100%;
	border-bottom: 1px rgba(151,151,151,0.5) solid;
}
.top_header{
	overflow:auto;
	color: #9B9B9B;
	border-bottom: 1px rgba(151,151,151,0.5) solid;
	line-height: 17px;
}
.top_header .top_nav{
	float: left;
	padding-left: 9.7%;
	color: #9B9B9B;
}
.top_header .top_nav li{
	display: inline-block;
	}
.top_header .top_nav li a{
	font-size: 12px;
	font-family: PingFangTC-Semibold, sans-serif;
	letter-spacing: 0.9px;
	line-height: 17px;
	color: #9b9b9b;
	padding: 4px 10px;
	border-right: 1px rgba(151,151,151,0.5) solid;
}

.top_header .top_nav li:first-child>a{
	padding-left: 0;
}
.top_header .top_nav .icon a{
	border-right: none;
}
.top_header .top_nav .icon img{
	vertical-align: middle;
}
.top_header .search_bar{
	padding-right: 9.7%;
	float: right;
}
.top_header .search_bar li{
	display: inline-block;
	border-left: 1px rgba(151,151,151,0.5) solid;
	border-right: 1px rgba(151,151,151,0.5) solid;
	padding: 1px 10px;
	padding-right: 148px;
}
.top_header .search_bar li img{
	vertical-align: middle;
	
}
.clearfix{
	clear: both;
}

/*.main_header{
	overflow:auto;
}*/
.logo{
	float: left;
	padding-left: 9.7%;
}
.logo li{
	display: inline-block;/*
	vertical-align: middle;*/
	padding: 8px 0;
}
.logo a img{
	vertical-align: middle;
}
.main_header .main_nav{
	float: right;
	color: #9B9B9B;/*
	display: inline-block;*/
	padding-right: 9.7%;
}
.main_nav_item{
	display: inline-block;
	text-align: center;
	padding: 17px 32px;
	vertical-align: middle;
	position: relative;
}
.main_nav_item a{
	font-size: 20px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 28px;
	color: #ffffff;
	position: relative;
	transition: 300ms;
	
} 

/*sub-menu*/

.main_nav_item:after{
    content: "";
    position: absolute ;  
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: #f95959;
    transform: translate(0,-5px);
    height: 3px;
    /*z-index: 2;*/
    opacity: 0;
    transition: 500ms;
}
.main_nav_item:hover:after{
    left: 0;
    right: 0;
    opacity: 0.7;
    /*transform: translate(0,10px);*/
}

.main_sub_nav{
	width: 150px;
    position: absolute;
    background-color: rgba(57, 62, 70, 0.5);
    left: 50%;
    margin-top: 20px;
    transform:translate(-50%,0) scale(0.8);
    transform-origin: 50%-10px;
    pointer-events: none;
    opacity: 0;
    transition:  transform 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220),opacity 300ms;
    
}
.main_nav_item:hover .main_sub_nav{
    transform:translate(-50%,0) scale(1);
    pointer-events: auto;
    opacity: 1;
}


.main_nav_item a:hover{
	color: #9b9b9b;
	}
.main_nav_item:nth-child(5){
	padding: 15px 32px;
}
.main_nav_item .user{
	fill:#fff;
	transition: 300ms;
	
	}
.main_nav_item .user:hover{
	fill: #9b9b9b;
	}
.clearfix{
	clear: both;
}
/*header end*/

/*slagan*/
.main_slogan{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.3px;
	text-align: center;
	color: #ffffff;
	margin-top: 432px;
}
.main_slogan span{
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 1px;
}
.main_slogan p{
	margin-top: 16px;
}
/*slogan end*/

/*mouse*/
/*.mouse{
	margin-top: 229px;
	margin-bottom: 154px;
}
.mouse img{
	width: 25px;
	height: 38px;
}*/
.mouse{
	margin: 50px auto;
	width: 25px;
	height: 38px;
	border: 3px solid #fff;
	border-radius: 13px;
	margin-top: 229px;
	margin-bottom: 154px;
}
.scroll{
	margin: 0 auto;
	width: 3px;
	height: 6px;
	background-color: #fff;
	border-radius: 1.5px;
	margin-top: 2px;
	animation: scroll 1.5s 1s forwards;
}
@keyframes scroll{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(3px);
  }
  50%{
  	transform: translateY(0);
  }
  75%{
  	transform: translateY(3px);
  }
  100%{
    transform: translateY(0);
  }
}

/*mouse end*/

/*banner*/
.sec2{
	position: relative;
}
.activities_info{
	position: absolute;
	color: #fff;
	width: 25%;
	text-align: left;
	margin-left:65%;
}
.activities_info span{
	font-size: 24px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;

}
.activities_info p{
	margin-top: 11px;
	font-size: 14px;
	letter-spacing: 1.4px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
}
.banner{
	position: relative;
}
.banner div{
	display: inline-block;
	width: 31%;
}

.banner div img{
	width: 100%;
	display: inline-block;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.banner .first{
	width: 52%;
	padding-left: 20px;
}
.banner .second{
	padding-right: 20px;
}
.banner .first{
	transform: translate(27px,-84px);
}
.banner a{
	color: #fff;
	display: inline-block;
}
.banner .angle{
	position: absolute;
	top:50%;
	transform: translateY(50%);

}
.banner .angle_left{
	transform: translate(13px,-84px);
}


/*sec3 pk主播*/


.dot{
	margin-top: 131px;
	background-color: #fff;

}
.sec3{
	width: 100%;
	background-color: #fff;
	background: url(../image/dot@2x.png) no-repeat ;
	transform: translateY(-41px);
	background-size: 100%;
	color: #393e46;
}
.sec3 .slogan{
	padding-top: 90px;
}
.slogan{
	font-size: 16px;
	letter-spacing: 1.5px;
	text-align: center;
	display: block;
}
.slogan span{
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 24px;
	line-height: 33px;
}
.slogan p{
	font-family: PingFangTC-Light, sans-serif;
	font-size: 16px;
	margin-top: 3px;
	line-height: 22px;
}
.slide{
	margin: 0 auto;
	margin-top: 41px;
	padding-bottom: 133px;

}
.slide.II{
	padding-bottom: 74px;	
}

.box_1{
	display:inline-block;
	vertical-align: middle;
	width: 270px;
	height: 381px;
	border-radius: 5px 0 0 0 ;
	background-color: #ffffff;
	box-shadow: 5px 17px 25px 0 rgba(144, 19, 254, 0.15);
	transition: 300ms;
}
.box_1.middle{
	margin: 0 30px;
	width: 300px;
	height: 423px;
}
.content{
	height: 80%;
	/*text-align: right;*/
	position: relative;
	transition: 300ms;
}
.content img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-position: center center;
	border-radius: 5px 0 0 0;
}

.content p{
	background-color: #9013FE;
	color: #fff;
	display: inline-block;
	padding: 8px 15px;
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	top:0; 
	right: 0;
}
.content i{
	display: inline-block;
	font-size: 60px;
	position: absolute;
	/*width: 100%;*/
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: #fff;
	display: none;

}
.box_1:hover .content i{
	display: block;
}


.content .mask{
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	background-color: rgba(249,89,89,0.34);
	display: none;
}
.content .border{
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	transition: 300ms;
}
.box_1:hover .mask{
	display: block;
	transition: 300ms;
}
.box_1:hover .border{
	display: block;
	border: 2px solid #F95959;
}

.box_1:hover .content img{
	border-radius: 0;
}
.box_1:hover{
	border-radius: 0 ;
	background-color: #F95959;
}


.box_1 .intro{
	color: #393e46;
	text-align: left;
	padding-left: 14px;
	padding-top:12px;
}
.box_1:hover .intro{
	color: #fff;
}
.intro span{
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
}
.intro p{
	font-family: PingFangTC-Light, sans-serif;
	margin-top: 5px;
	font-size: 16px;
	font-weight: 300;	
}
.sec3 .btn{
	display:inline-block;
	background-color: #F95959;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	padding: 14px 38px;
	margin-top: 41px;
	transition: 200ms;
	
}
.sec3 .btn:hover{
	background-color: #FA8B8B;
	color: #fff;
	}
.sec3 .btn:active {
    background-color: #C45555;
}

.angle i{
	font-size: 40px;
}
.sec3 .angle{
	color: #F5A623;	
}
.sec3 .angle_left{
	padding-right: 6.5%;
    transition: 300ms;
}
.sec3 .angle_left:hover{
	transform: translateX(-10px);
}

.sec3 .angle_right{
	padding-left: 6.5%;
	transition: 300ms;
}
.sec3 .angle_right:hover{
	transform: translateX(10px);
}
/*sec3 pk主播end*/

/*sec4*/

.sec4{
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	width: 93.8%;
	height: 590px;
	margin: 0 auto;
	background-color: #393e46;
	color: #fff;
	transform: translateY(-117px);
	/*padding-bottom: 117px;*/
}
.sec4 .slogan{
	padding-top: 41px;
}

.timeline{
	width: 88.8%;
	/*height: auto;*/
	/*background-color: #393e46;*/
	text-align: left;
	margin: 0 auto;
	margin-top: 45px;
	border-top: 3px  #F95959 solid;
}
.box_2{
	text-align: left;
	width: 29%;
	transform: translateY(-13px);
	margin-left: 2.9%;
	display:inline-block;
	vertical-align: middle;
}

.box_2.first{
	margin-left:0.8%;
}
.box_2 .intro{
	text-align: left;
	margin-top: 25px;
	margin-bottom:9px;
}
.box_2 .intro span{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-align: left;
	font-family: PingFangTC-Semibold, sans-serif;
	color: #f95959;

}
.box_2 .intro p{
	margin-top: 4px;
	text-align: left;
	color: #ffffff;
} 
.box_2 img{
	width: 100%;
	object-fit: cover;
	height: 162px;
}
img.pin{
	width: 17px;
	height: 28px;
}

.box_2 a{
	font-family: PingFangTC-Semibold, sans-serif;
	margin-top: 9px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	display: block;
	background-color: #F95959;
	padding: 15px 0;
	transition: 200ms;
}
.box_2 a:hover{
	background-color: #FA8B8B;
	color: #fff;
}
.box_2 a:active {
    background-color: #C45555;
}
.sec4 .angle{
	display:inline-block;
	margin-left: 2%;
	vertical-align: middle;
	transform: translateY(50%);
}
.sec4 .angle a{
	color: #F95959;
}
/*sec4 end*/

/*sec5*/

.sec5{
	width: 100%;
	height: auto;
	background: url(../image/PK BG@2x.png) cover;
	color: #fff;
	text-align: center;
	position: relative;
}
.sec5 ul{
	margin-bottom: 26px;
	margin-top: 28px;

}
.sec5 ul li{
	display: inline-block;
	font-size: 20px;
	color: #9b9b9b;
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	border-bottom: solid 2px #979797;
	padding: 9px 52px;
	margin: 0 25px;
	transition: 300ms;
}
.sec5 .left li{
	color: #f5a623;
	border-bottom: solid 2px  #f5a623;
}
.sec5 .middle li:hover .sec5 .left li{
	color: #979797;
	border-bottom: 2px #979797 solid;
}
.sec5 .middle li:hover{
	color: #f5a623;
	border-bottom: solid 2px  #f5a623;
}
.sec5 .right li:hover{
	color: #f5a623;
	border-bottom: solid 2px  #f5a623;
}

.sec5 .box_wrapper{
	width:  60%; 
	margin: 0 auto;
}
.sec5_intro{
	position: absolute;
	margin: 0 15px;
	width: 26.2%;
	box-sizing: border-box;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	padding: 19px 51px;
	display: inline-block;
	text-align: left;
	color: #f5a623;
	border: 1px #f5a623 solid;
}

.sec5_intro_right{
	
	display: none;
}
.box_3{
	width: 44%;
	margin: 0 15px;
	height: auto;
	display: inline-block;
	/*margin-top: 40px;*/
	
}
.box_3 img{
	width: 100%;
	object-fit: cover;
	background-color: #d8d8d8;
	box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.3);

}
.box_3 .intro{
	margin: 0 auto;
	background-color: #fff;
	transform: translateY(-49px);
	width: 90%;
	text-align: left;
	padding: 0 13px;
	padding-top: 14px;
	padding-bottom: 36px;
	box-shadow: 5px 17px 25px 0 rgba(0, 0, 0, 0.12);
}
.box_3 .intro span{
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	font-size: 20px;
	color: #f95959;
	margin-bottom: 7px;
}
.box_3 .intro span::after{
	height: 3px;
	/*width: 100%;*/
	display: block;
	margin-top: 3px;
	margin-bottom: 12px;
	border-radius: 6px;
	content: "";
	background-color: #f95959;
	transform: translateX(-21px);
	box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
}
.box_3 .intro p{
	font-size: 16px;
	text-align: left;
	color: #393e46;
	font-family: PingFangTC-Light, sans-serif;

}
.box_3 a{
	margin:0 auto;
	color: #fff;
	background-color: #f95959;
	padding: 15px 42px;
	display: inline-block;
	transform: translateY(-68px);
}
.box_3 a:hover{
	background-color: #FA8B8B;
	color: #fff;
}
.box_3 a:active{
    background-color: #C45555;
}
.box_3:nth-child(odd){
	transform: translateY(-15%);
}
.box_3:nth-child(1){
	margin-top: 150px;
}
.box_3:nth-child(2){
	margin-top: 150px;
}

/*sec5 end*/

/*functionbtn*/
/*.content_wrapper{
	position: relative;
}*/
#functionbtn{

	position: fixed;
	z-index: 99;
	bottom: 40px;
	right: 10px;
}
#functionbtn ul{
	background-color: #fff;
}

#functionbtn li{
	padding: 0;
	margin: 0;
	background-color: #fff;
	box-sizing: content-box;
	border:#F2F2F2 solid 1px;
	padding: 2px;
}
#functionbtn li a{
	display: inline-block ;
	vertical-align: middle;
}
svg{
	vertical-align: middle;
}
.btn_icon{
	fill:#9B9B9B;
}
#functionbtn li:hover{
	background-color: #9013FE;
}
#functionbtn li:hover .btn_icon{
	fill:#fff;
}


/*footer*/
footer{

	width: 100%;
	background-color: #393e46;
	text-align: center;
}
#main_footer{
	width: 81.6%;
	/*background-color: #393e46;*/
	margin: 0 auto;
	border-bottom: 1px solid #9b9b9b;
	overflow:auto;
	padding-top: 26px;
	padding-bottom: 44px;
}

#main_footer .footer_nav{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-right: 44px;
	float: left;
	}
#main_footer .footer_nav li{
	color: #fff;
	font-size: 14px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
}
#main_footer .footer_nav .headline{
	font-size: 16px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 22px;
	margin-bottom: 9px;

}
#main_footer .info_2{
	
	float: right;
}
#main_footer .link{
	text-align: right;
	margin-bottom: 10px;
}
#main_footer .link li{
	padding-left: 18px;
	}
#main_footer .download{
	text-align: right;
}
#main_footer .download li{
	
	display: inline-block;
}
#main_footer .download li img{
	width: 125px;
}
#main_footer .link li{
	display: inline-block;
}

#bottom_footer{
	width: 81.6%;
	margin: 0 auto;
	overflow:auto;
	padding-top: 5px;
	padding-bottom: 13px;
}
#bottom_footer .sm_logo{
	margin-left: 7px;
	float: left;
	
}
#bottom_footer .sm_logo img{
	vertical-align: middle;
}
#bottom_footer .copyright{
	color: #9b9b9b;
	float: right;
	padding-right: 12px;
	font-family: PingFangTC-Light, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
#bottom_footer .copyright p i{
	padding-right: 8px;
}

/*footer end*/


