.content_wrapper{
	margin-top: 90px;
	padding: 64px 0;	
	background:url(../image/dotsBg.png);
	background-size: 100%;
	position: relative;
}
.bg{
	background-color: #fff;
	width: 67%;
	height:89%;
	position: absolute;
	z-index: -1;
	left: 0;
	right: 16%;
	margin: 0 auto;
	margin-top: 47px;
}
.main_title{
	color: #F95959;
	font-size: 24px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;
	display: block;
}
.pageControls{
	margin-top: 10px;
}
.pageControls a{
	display: inline-block;
	padding: 6px 0;
	width: 32px;
	margin: 0 16px;
	color: #F5A623;
	background-color: #F2F2F2;
	font-family: PingFangTC-Semibold, sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}
.pageControls a.active{
	color: #fff;
	background-color:#F5A623;
	}

.pageControls img{
	transform: rotate(90deg);
	vertical-align: middle;
	width: 18px; 
	height: 18px;
}
.filter{
	margin-bottom: 32px;
}
.filter a{
	font-family: PingFangTC-Semibold;
	font-size: 14px;
	color: #F5A623;
	letter-spacing: 1.5px;
	line-height: 20px;
	padding: 5px 20px;
	transition: 300ms;
}
.filter a.active{
	color: #fff;
	background-color:  #F5A623;
	transition: 300ms;
}
.filter a:hover{
	color: #F9C15D;
	}
.filter a.active:hover{
	background-color: #F9C15D;
	color: #fff;
	}
.filter a.active:active{
	background-color: #C38B22;
}
.filter input{
	width: 200px;
}
.filter input[type=text]{
    padding: 9px;
    margin-bottom: 16px;
    font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
	color: #9b9b9b;
    border: 1px solid rgba(151,151,151,0.25);
}
.filter input[type=text]:focus,input[type=password]:focus,textarea:focus{
	transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,-moz-box-shadow linear .2s;
	-webkit-transition:border linear .2s,-webkit-box-shadow linear .2s;
	outline:none;border-color:#9b9b9b;
	box-shadow: inset 0 0 2px #9013FE;
	-moz-box-shadow:inset 0 0 2px #9013FE;
	-webkit-box-shadow:inset 0 0 2px #9013FE;
}

/*sec_pkgame*/
.sec_pkgame{
	width: 100%;
	height: auto;
	color: #fff;
	text-align: center;
	position: relative;
}
.sec_pkgame ul{
	margin-bottom: 26px;
	margin-top: 28px;

}
.sec_pkgame ul li{
	display: inline-block;
	font-size: 20px;
	color: #9b9b9b;
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	border-bottom: solid 2px #979797;
	padding: 9px 52px;
	margin: 0 25px;
	transition: 300ms;
}
.sec_pkgame .active li{
	color: #f95959;
	border-bottom: solid 2px  #f95959;
}
.sec_pkgame li:hover{
	color: #f95959;
	border-bottom: solid 2px  #f95959;
}

.sec_pkgame .box_wrapper{
	width:  66%; 
	margin: 0 auto;
	position: relative;
}
.pkgame_intro{
	position: absolute;
	width: 44%;
	right: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	padding: 19px 51px;
	display: inline-block;
	text-align: left;
	color: #f5a623;
	border: 1px #f5a623 solid;
	float: right;
}

.box_pkgame{
	width: 44%;
	height: auto;
	display: inline-block;
	position: relative;
}

.box_pkgame .overlay{
	width: 100%;
	height: 256px;
	box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.3);
}
.box_pkgame .overlay .inner{
	background-color: rgba(29,29,29,0.5);
	width: 100%;
	height: 100%;
}

.box_pkgame .intro{
	margin: 0 auto;
	background-color: #fff;
	transform: translateY(-50px);
	width: 90%;
	text-align: left;
	padding: 0 13px;
	padding-top: 11px;
	padding-bottom: 36px;
	box-shadow: 5px 17px 25px 0 rgba(0, 0, 0, 0.12);
}
.box_pkgame .intro h4{
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	font-size: 20px;
	color: #393E46;
	margin-bottom: 7px;
}
.box_pkgame .intro h4 span{
	font-size: 20px;
	line-height: 33px;
}
.box_pkgame .intro h4::after{
	height: 3px;
	display: block;
	margin-top: 5px;
	margin-bottom: 12px;
	border-radius: 6px;
	content: "";
	background-color: #393E46;
	transform: translateX(-21px);
	box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
}
.box_pkgame .intro span.name{
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	font-size: 20px;
	color: #9B9B9B;
}
.box_pkgame .intro p{
	font-size: 16px;
	text-align: left;
	color: #393e46;
	font-family: PingFangTC-Light, sans-serif;
}
.box_pkgame a{
	margin:0 auto;
	color: #fff;
	background-color: #CCCCCC;
	padding: 15px 42px;
	display: inline-block;
	transform: translateY(-68px);
	transition: 300ms;
}
.box_pkgame:nth-child(odd){
	margin-right: 6%;
}
.box_pkgame:nth-child(even){
	margin-left: 6%;
}

/*sec_pkgame end*/