*{
	
	font-family: PingFangTC-Ultralight, sans-serif;
	font-family: PingFangTC-Light, sans-serif;
	font-family: PingFangTC-Thin, sans-serif;
	font-family: PingFangTC-Medium, sans-serif;
	font-family: PingFangTC-Semibold, sans-serif;
	font-family: PingFangTC-Regular, sans-serif;
	/*outline: 1px red solid;*/
	text-decoration: none;
	letter-spacing: 1.5px;
	line-height: 22px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background:#F8F8F8;
	text-align: center;
}

#vedeo{
	position:absolute;
	top: 0;
	width: 100%;
	height:150%;
	background: url(../image/background_image/bg.png) no-repeat top center;
	opacity: 0.49;
	mix-blend-mode: luminosity;
	background-size: cover;
	z-index: -1;
}