.lightbox{
	position:absolute;
	top: 2476px;
}
.lightbox_header span{
	display: block;
	font-size: 20px;
	font-family: PingFangTC-Medium, sans-serif;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin-top: 16px;
}