.wrapper{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(29, 29, 29, 0.76);
	z-index: 99;
}
.lightbox{
	position:absolute;
	top: 1113px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 808px;
	z-index: 100;
}
.lightbox_content{
	margin: 0 auto;
	position: relative;
}
.lightbox_content .photo{
	width: 648px;
	height: 863px;
	display: inline-block;
	background: url(../image/lightbox/1.png) center center no-repeat /cover;
	vertical-align: middle;
}
.close{
	position: absolute;
	right: 0;
	top: -80px;
}
.close img{
	width: 40px;
	transition: 300ms;
}
.close img:hover{
	transform: scale(1.1);
}


.lightbox_content .angle i{
	font-size: 40px;
	transition: 300ms;
}
.lightbox_content .angle{
	vertical-align: middle;
	color:#fff;	
}
.lightbox_content .angle_left{
	padding-right:40px;
    transition: 300ms;
}
.lightbox_content .angle_left i:hover{
	transform: translateX(-10px);
}
.lightbox_content .angle_right{
	padding-left:40px;
	transition: 300ms;
}
.lightbox_content .angle_right i:hover{
	transform: translateX(10px);
}


