.lightbox_content span{
	color: #F95959;
	font-size: 24px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;
	margin-top: 64px;
	margin-bottom: 8px;
	display: block;
}
.lightbox_content p{
	font-size: 16px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 22px;
	margin-bottom: 0;
}
.lightbox_content span:before{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 350px;
	height: 3px;
	vertical-align: middle;
	margin-right: 8px;
}
.lightbox_content span:after{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 350px;
	height: 3px;
	vertical-align: middle;
	margin-left: 8px;
}
.input_group{
	margin-top: 51px;
	text-align: left;
	padding-bottom: 0;
	}
input.single_column{
	width: 31%;
	margin: 0 1%;
}
input.double_column{
	width: 65.5%;
	margin: 0 1%;
}
input.left_column{
	margin-left: 0;
}
input.mid_column{
}
input.right_column{
	margin-right: 0;
}
.input_group a{
	float: none;
}
.input_group img{
	vertical-align: middle;
}
.input_group .captcha{
	height: 40px;
}
.lightbox_content input[type=submit]{
	margin-top: 16px;
	display: block;
}







