.content_wrapper{
	padding-top: 186px;
	text-align: center;
	background:url(../image/dotsBg.png)no-repeat center center/100%;
	padding-bottom: 64px;
}

/*sideBar*/
.sideBar{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	background-color: #FFF;
	padding: 20px;
}
.sideBar-item{
	border-bottom: 2px solid #9B9B9B;
	text-align: left;
	margin-bottom: 24px;
	transition: 300ms;
}
.sideBar-item a{
	font-family: PingFangTC-Medium;
	font-size: 20px;
	color: #9B9B9B;
	letter-spacing: 1.5px;
	line-height: 28px;
	transition: 300ms;
}
.sideBar-item.active{
	border-bottom: 3px solid #F5A623;
}
.sideBar-item.active a{
	font-family: PingFangTC-Semibold;
	font-size: 24px;
	color: #F5A623;
	letter-spacing: 1.5px;
	line-height: 33px;
}
.sideBar-item:hover.sideBar-item a{
	color: #f5a623;
}
.sideBar-item:hover{
	border-bottom: 2px solid #F5A623;
}
.sideBar-item.active:hover{
	border-bottom: 3px solid #F5A623;
}

/*sideBar end*/


.content_body{
	width: 73%;
	margin: 0 auto;
	display: inline-block;
	background: #FFFFFF;
	margin-left:2%;
	margin-top: 21px;
	position: relative;
}
.content_body::before{
	content: "";
	width:110%;
	height: 523px;
	background-color: #F5A623;
	position: absolute;
	top: -52px;
	left: -199px;
	z-index: -1;
	}

/*profile*/
.profile{
	margin: 0 auto;
	text-align: left;
	padding: 35px 66px;
	background-color: #f2f2f2;
	position: relative;
}
.profile::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(29,29,29,0.25);
	z-index: -1;
}
.profile .user_img{
	width: 100px;
	height: 100px;
	background: url(../image/user_img.png);
	background-size: 100%;
	border-radius: 20px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	display: inline-block;
	vertical-align: middle;	
	position: relative;
}
.user_img .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(29,29,29,0.70);
	border-radius: 20px;
	text-align: center;
	opacity: 0;
	transition: 150ms;
}
.user_img .mask svg{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.user_img:hover.user_img .mask{
	opacity: 1;
}
.profile h3{
	font-size: 16px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 22px;
	margin-bottom: 5px;
	display: inline-block;
}
.main_info a{
	display: inline-block;
	vertical-align: middle;
}
.profile p.level{
	padding: 0 8px;
	background-color: #f95959;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 16px;
	display: inline-block;
	margin-top: 4px;
}
.user_info{
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	width: 330px;
}
.main_info{
	border-bottom: 1px solid rgba(249,89,89,0.50);
	padding-bottom: 14px;
}
.progress_bar{
	display: inline-block;
}
.progress_bar .bar_border{
	height: 8px;
	width: 118px;
	border:1px solid #f95959;
	border-radius: 3px;
	position:absolute;
}
.progress_bar .bar_content{
	position: relative;
	height: 8px;
	width: 100px;
	background-color:#f95959;
	border-radius: 3px;
}
.view{
	margin-top: 7px;
	margin-left: 9px;
}
.view p{
	font-size: 14px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
	display: inline-block;

}
.view a{
	color: #FFFFFF;
	background-color: #f5a623;
	padding: 0 7px;
	font-family: PingFangTC-Medium;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1.5px;
	line-height: 16px;
	margin-left: 19px;
	transition: 200ms;
}
.view a:hover{
	background-color: #F9C15D;
}
.view a:active{
	background-color: #C38B22;
}
.profile .coin{
	margin-right: 23px;
}
.profile .coin:before{
	display: inline-block;
	content: url(../image/ICON/coin.svg);
	margin-right: 8px;
	height: 20px;
  	width:20px;
  	transform: scale(0.8);
  	vertical-align: middle;
}

.profile .diamond:before{
	display: inline-block;
	content: url(../image/ICON/diamond.svg);
	margin-right: 8px;
	height: 20px;
  	width:20px;
  	transform: scale(0.8);
  	vertical-align: middle;
}
/*profile end*/
.center_content{
	padding: 24px 65px 40px 65px;
	text-align: left;
	box-shadow: 0 2px 10px 0 rgba(29,29,29,0.25);
	position: relative;
	z-index: 10;
}
.center_content p{
	font-family: PingFangTC-Light;
	font-size: 14px;
	color: #393E46;
	letter-spacing: 1.5px;	
	text-align: left;
}
.center_content .title{
	font-family: PingFangTC-Semibold;
	font-size: 16px;
	color: #393E46;
	letter-spacing: 1.5px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	}
.center_content input[type=text]{
    padding: 9px;
    font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
	color: #9b9b9b;
    border: 1px solid rgba(151,151,151,0.25);
    margin-top: 16px;
}
.center_content input[value]{
	color: #393E46;
	}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
	 
	 transition:border linear .2s,box-shadow linear .2s;
	 -moz-transition:border linear .2s,-moz-box-shadow linear .2s;
	 -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s;
	 outline:none;border-color:#9b9b9b;
	 box-shadow: inset 0 0 2px #9013FE;
	 -moz-box-shadow:inset 0 0 2px #9013FE;
	 -webkit-box-shadow:inset 0 0 2px #9013FE;
}
select{
	font-family: PingFangTC-Light;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 1.5px;
	line-height: 20px;
	width: 150px;
	border: 1px solid rgba(151,151,151,0.25);
	padding: 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../image/ICON/select-arrow.svg) 96% / 15% no-repeat #fff;
	border-radius: 0;
	margin: 0;
	margin-top: 16px;
	margin-right: 17px;
}
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}
input.sm_column, select.sm_column{
	width: 20%;
}
input.md_column{
	width: 30%;
}
input.lg_column{
	width: 30%;
}
.center_content input[type=submit]{
	display: block;
	width: 29%;
	background-color: #F95959;
	color: #fff;
	padding: 9px 38px;
	margin: 0 auto;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	border:none;
	transition: 300ms;
	margin-top: 48px;
}
.center_content input[type=submit]:hover{
	background-color: #FA8B8B;
}
.center_content input[type=submit]:active{
	background-color: #C45555;
}

