.content_wrapper{
	margin-top: 130px;
	text-align: center;
	background:url(../image/dotsBg.png);
	background-size: 100%;
	padding-bottom: 64px;
}
/*profile*/
.main_title{
	color: #F95959;
	font-size: 24px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;
	padding-top: 64px;
	display: block;
}
.main_title.photo{
	color: #fff;
}
.main_title:before{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 400px;
	height: 3px;
	vertical-align: middle;
	margin-right: 8px;
}
.main_title:after{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 400px;
	height: 3px;
	vertical-align: middle;
	margin-left: 8px;
}
.content_wrapper p{
	margin-top: 20px;
	margin-bottom: 16px;
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #393E46;
	letter-spacing: 1.5px;
	line-height: 22px;
}

.input_group{
	width: 51%;
	margin: 0 auto;
	margin-top: 34px;
	padding-bottom: 32px;
	border-bottom: 2px solid #F2F2F2;

}
.content_wrapper input{
	width:100%;
}
.content_wrapper input[type=text]{
    padding: 9px;
    margin-bottom: 16px;
    font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
	color: #9b9b9b;
    border: 1px solid rgba(151,151,151,0.25);
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
 
 transition:border linear .2s,box-shadow linear .2s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .2s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s;
 outline:none;border-color:#9b9b9b;
 box-shadow: inset 0 0 2px #9013FE;
 -moz-box-shadow:inset 0 0 2px #9013FE;
 -webkit-box-shadow:inset 0 0 2px #9013FE;
 
}
.content_wrapper select{
	font-family: PingFangTC-Light;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 1.5px;
	line-height: 20px;
	border: 1px solid rgba(151,151,151,0.25);
	background:#fff;
	padding: 9px;
	padding-right: 50px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../image/ICON/select-arrow.svg) 96% / 15% no-repeat;
	border-radius: 0;
	margin: 0;
}
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

.input_group a{
	float: right;
	color: #393E46;
	font-size: 14px;
    font-family: PingFangTC-Semibold, sans-serif;
    line-height: 20px;
}
.content_wrapper input[type=submit]{
	display: block;
	width: 29%;
	background-color: #f5a623;
	color: #fff;
	padding: 9px 38px;
	margin: 0 auto;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	border:none;
	transition: 300ms;
	margin-top: 33px;
}
.content_wrapper input[type=submit]:hover{
	background-color: #F9C15D;
}
.content_wrapper input[type=submit]:active{
	background-color: #C38B22;
}
/*checkbox*/


/* Create a custom checkbox */
.container {
display: inline-block;
position: relative;
padding-left: 24px;
cursor: pointer;
text-align: left;
font-size: 14px;
font-family: PingFangTC-Light, sans-serif;
line-height: 20px;
color: #393E46;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin: 3px 0;
  background-color: #fff;
  border:1px solid #979797;
}

/* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkmark {
  background-color: #ccc;
}
*/
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #64BE00;
  border:none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*checkbox end*/







