/*banner*/
.sec_banner{
	position: relative;
}
.activities_info{
	position: absolute;
	color: #fff;
	width: 25%;
	text-align: left;
	margin-left:65%;
}
.activities_info h2{
	font-size: 24px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;

}
.activities_info p{
	margin-top: 11px;
	font-size: 14px;
	letter-spacing: 1.4px;
	font-family: PingFangTC-Light, sans-serif;
	line-height: 20px;
}
.banner{
	position: relative;
}
.banner div{
	display: inline-block;
	width: 31%;
}

.banner div img{
	width: 100%;
	display: inline-block;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.banner .first{
	width: 52%;
	padding-left: 20px;
}
.banner .second{
	padding-right: 20px;
}
.banner .first{
	transform: translate(27px,-84px);
}
.banner a{
	color: #fff;
	display: inline-block;
}
.banner .angle{
	position: absolute;
	top:50%;
	transform: translateY(50%);

}
.banner .angle_left{
	transform: translate(13px,-84px);
}
