/*function button*/
#function_bar{
	position: fixed;
	z-index: 99;
	bottom: 40px;
	right: 10px;
}
#function_bar ul{
	text-align: right;
}
#function_bar .function_btn{
	display: inline-block;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border:#F2F2F2 solid 1px;
	padding: 1px;
	vertical-align: middle;
	transition: 300ms;
}
#function_bar li a{
	display: inline-block ;
	vertical-align: middle;
}
#function_bar .live.function_btn{
	background-color: #9013FE;
}
#function_bar .func_content{
	padding: 0;
	border:#F2F2F2 solid 1px;
	display: none;
	transition: 300ms;
}
#function_bar .func_content a{
	background-color: #F95959;
	padding: 7px 10px;
	color: #fff;
	font-size: 16px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 22px;
	}
#function_bar .live.func_content a{
	background-color: #9013FE;
}
svg{
	vertical-align: middle;
}

#function_bar .btn_icon{
	fill:#9B9B9B;
}
#function_bar .live .btn_icon{
	fill:#fff;
}
/*QR content*/
.qr{
	position: relative;
}
.func_content.qr{
	position:absolute;
	bottom: 0;
	right: 38px;
}
.func_content.qr a{
	padding: 0 !important;
}
.func_content.qr svg{
	width: 90px;
	height: 90px;
	}
/*QR content end*/

/*hover*/
#function_bar .function_btn:hover{
	background-color: #F95959;
}
#function_bar .live.function_btn:hover{
	background-color:#9013FE;
}
#function_bar .function_btn:hover .btn_icon{
	fill:#fff;
}
#function_bar ul.top:hover .func_content.top{
	display: inline-block;
}
#function_bar ul.live:hover .func_content.live{
	display: inline-block;
}
#function_bar ul.qr:hover .func_content.qr{
	display: inline-block;
}
#function_bar ul.qa:hover .func_content.qa{
	display: inline-block;
}
#function_bar ul.cs:hover .func_content.cs{
	display: inline-block;
}

/*hover end*/
/*function button end*/