.content_wrapper{
	margin-top: 89px;
	text-align: center;
	background:url(../image/dotsBg.png)no-repeat center center/cover;
	padding-bottom: 64px;
}
/*profile*/
.main_title{
	color: #F95959;
	font-size: 24px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 33px;
	padding-top: 64px;
	display: block;
}
.main_title:before{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 400px;
	height: 3px;
	vertical-align: middle;
	margin-right: 8px;
}
.main_title:after{
	content: "";
	display: inline-block;
	background-color: #F95959;
	width: 400px;
	height: 3px;
	vertical-align: middle;
	margin-left: 8px;
}
.content_body{
	width: 90%;
	margin: 0 auto;
	margin-top: 24px;
	background-color: #FFFFFF;
	padding: 40px 153px;
}
.content_body p{
	margin: 0 auto;
	margin-top: 22px;
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #393E46;
	letter-spacing: 1.5px;
	line-height: 22px;
	background-color: #FFFFFF;
	text-align: left;
}
.content_body p span{
	display: block;
	font-family: PingFangTC-Medium;
	text-align: left;
	}
.content_body ul li{
	text-align: left;
	list-style:decimal outside;
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #393E46;
	letter-spacing: 1.5px;
	line-height: 22px;
	margin-left: 30px;
}

p.attention{
	width: 88%;
	margin: 0;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.rule_6 ul li{
	list-style: none;
	margin-left: 0;
}



