/* 直播互動遊戲: */
.livegame_wrapper{
	background: #393E46;
	width: 90%;
	margin: 0 auto;
	text-align:left;
	/*padding: 70px 87px;*/
	padding: 3%;
	position:relative;
	z-index: 100;
}
.livegame_wrapper svg{
	display: inline-block;
	vertical-align: middle;
}
.livegame_wrapper h3{
	font-family: PingFangTC-Semibold;
	font-size: 24px;
	color: #F95959;
	letter-spacing: 1.5px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.titleBar{
	padding-bottom: 1px;
	border-bottom: 2px solid #F95959;
	margin-bottom: 18px;
}
.moreinfo{
	display: inline-block;
	float: right;
}
.moreinfo a{
	/*float: right;*/
	display: inline-block;
	font-family: PingFangTC-Light;
	font-size: 14px;
	color: #F2F2F2;
	line-height: 20px;
	margin-right: 20px;
	transition: 300ms;
}
.moreinfo a:hover{
	color: #9b9b9b;
	}
.moreinfo a:nth-child(3){
	margin-right: 0;
}
.moreinfo svg{
	margin-left: 1px;
}
.moreinfo a:nth-child(3)>svg{
	transform: rotate(90deg);
}
.game_content{
	margin: 0 auto;
	text-align: left;
	background: rgba(144,19,254,0.24);
	padding: 2%;
}
.game_content h4{
	font-family: PingFangTC-Medium;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 28px;
	margin-bottom: 2px;
	display: inline-block;
}
.game_content .intro span{
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #FFFFFF;
	margin-right: 22px;
}
.game_content .time{
	float: right;
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #F2F2F2;
	line-height: 22px;
	vertical-align: middle;
	margin-right: 0;
	/*display: inline-block;*/
}
.game_content span.time::before{
	content: url(../image/ICON/time.svg);
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	}

.gamebox_wrapper{
	margin:0 auto;
	margin-top: 29px;
}
.gamebox{
	width: 290px;
	background-color: #fff;
	border:1px solid #F5A623;
	margin-right: 24px;
	margin-bottom: 16px;
	display: inline-block;
	position: relative;
}
.gamebox>p{
	padding: 10px 16px;
	vertical-align: middle;
	display: inline-block;
	width: 50%;
	color: #F5A623;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	}
.gamebox span{
	vertical-align: middle;
	display: inline-block;
	float: right;
	width: 45%;
	padding: 10px 16px;
	background-color: #F5A623;
	color: #fff;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	transition: 300ms;
	text-align: center;
}
.detail{
	width: 101%;
	height: auto;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(245,166,35,0.50);
    position: absolute;
    left: -1px;
	text-align: left;
	transform-origin: top left;
	margin-top: 12px;
	z-index: 99;
	padding: 23px;
	transform: scale(0);
	transform-origin: top left;
	transition: 500ms;
}
.gamebox:hover .detail{
	transform: scale(1);
}
.detail::before{
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #fff;
	position: absolute;
	top: -12px;
	left: 27px;
}
.detail h5{
	margin-bottom: 7px;
	font-family: PingFangTC-Semibold;
	font-size: 16px;
	color: #393E46;
	letter-spacing: 1.5px;
	line-height: 22px;
}
.detail input{
	display: inline-block;
	vertical-align: middle;
}
.detail img{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-bottom: 16px;
}
.detail input[type=text]{
	width: 85%;
	border:1px solid rgba(197,197,197,0.25);
	font-size: 14px;
	padding: 9px;
	font-family: PingFangTC-Light;
	line-height: 20px;
	color: #9b9b9b;
	margin-bottom: 16px;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
 
 transition:border linear .2s,box-shadow linear .2s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .2s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s;
 outline:none;border-color:#9b9b9b;
 box-shadow: inset 0 0 2px #9013FE;
 -moz-box-shadow:inset 0 0 2px #9013FE;
 -webkit-box-shadow:inset 0 0 2px #9013FE;
 
}
.detail p{
	font-family: PingFangTC-Light;
	padding: 0;
	font-size: 13px;
	color: #393E46;
	line-height: 22px;
	display: inline-block;
	text-align: left;
	margin-right:10px; 
	width: 108px;
}
.detail input[type=submit]{
	background-color: #F95959;
	display: inline-block;
	padding: 10px 40px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	border:none;
	transition: 300ms;
	margin-top: 12px;
	}
.detail input[type=submit].cancel{
	background-color: #F5A623;
	margin-right: 16px;
}
.detail input[type=submit]:hover{
	background-color: #FA8B8B;
}
.detail input[type=submit]:active{
	background-color: #C45555;
}
.detail input[type=submit].cancel:hover{
	background-color: #F9C15D;
}
.detail input[type=submit].cancel:active{
	background-color: #C38B22;
}









