/* 直播互動遊戲: */
.livegame_wrapper{
	background: #393E46;
	width: 90%;
	margin: 0 auto;
	text-align:left;
	/*padding: 70px 87px;*/
	padding: 3%;
	position:relative;
	z-index: 100;
}
.livegame_wrapper svg{
	display: inline-block;
	vertical-align: middle;
}
.livegame_wrapper h3{
	font-family: PingFangTC-Semibold;
	font-size: 24px;
	color: #F95959;
	letter-spacing: 1.5px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.titleBar{
	padding-bottom: 1px;
	border-bottom: 2px solid #F95959;
	margin-bottom: 18px;
}
.moreinfo{
	display: inline-block;
	float: right;
}
.moreinfo a{
	/*float: right;*/
	display: inline-block;
	font-family: PingFangTC-Light;
	font-size: 14px;
	color: #F2F2F2;
	line-height: 20px;
	margin-right: 20px;
	transition: 300ms;
}
.moreinfo a:hover{
	color: #9b9b9b;
	}
.moreinfo a:nth-child(3){
	margin-right: 0;
}
.moreinfo svg{
	margin-left: 1px;
}
.moreinfo a:nth-child(3)>svg{
	transform: rotate(90deg);
}
.game_content{
	margin: 0 auto;
	text-align: left;
	background: rgba(144,19,254,0.24);
	padding: 2%;
}
.game_content h4{
	font-family: PingFangTC-Medium;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 28px;
	margin-bottom: 2px;
	display: inline-block;
}
.game_content .intro span{
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #FFFFFF;
	margin-right: 22px;
}
.game_content .time{
	float: right;
	font-family: PingFangTC-Light;
	font-size: 16px;
	color: #F2F2F2;
	line-height: 22px;
	vertical-align: middle;
	margin-right: 0;
	/*display: inline-block;*/
}
.game_content span.time::before{
	content: url(../image/ICON/time.svg);
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	}

.gamebox_wrapper{
	margin:0 auto;
	margin-top: 29px;
}
.gamebox{
	width: 300px;
	background-color: #fff;
	border:1px solid #9B9B9B;
	margin-right: 24px;
	margin-bottom: 16px;
	display: inline-block;
	position: relative;
}
.gamebox>p{
	padding: 10px 16px;
	vertical-align: middle;
	display: inline-block;
	width: 50%;
	color: #9B9B9B;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	}
.gamebox span{
	vertical-align: middle;
	display: inline-block;
	float: right;
	width: 45%;
	padding: 10px 16px;
	background-color: #9B9B9B;
	color: #fff;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	transition: 300ms;
	text-align: center;
}
.gamebox span.win{
	background-color: #F95959;
	color: #fff;
	padding: 0 11px;
	width: auto;
	font-size: 14px;
	font-family: PingFangTC-Semibold, sans-serif;
	line-height: 20px;
	position: absolute;
	display: inline-block;
	right: 100px;
	top: -8px;
	transform: rotate(-15deg);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	}









